.admin .vacancyCard {
    width: 100%;
    max-height: 100vh;
    min-height: 91vh;
    border: 2px solid dodgerblue;
    /* border-radius: 5px; */
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    gap: 65px;
    padding: 65px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}

.admin .vacancyCard_item {
    height: 370px;
    /* background-color: #96ff04; */
    /* background-color: rgba(30, 143, 255, 0.496); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: .1s;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

.admin .vacancyCard_item:hover {
    box-shadow: rgba(0, 0, 10, 0.455) -5px 5px 5px, rgba(64, 64, 64, 0.385) -10px 10px 10px
    
}


.admin .vacancyCard_item:hover img{
    transition: .1s;
    transform: scale(1.03);
}

.admin .vacancyCard_item:hover a {
    background-color: white;
    color: aqua;
}


.admin .vacancyCard_item img {
    width: 100%;
    min-height: 180px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 5px;
}


.admin .vacancyCard_item a {
    padding: 5px 17px;
    border-radius: 10px;
    background-color: aqua;
    text-decoration: none;
    transition: .5s;
    color: #fff;
    font-size: 20px;
    font-weight: 550;


}
.admin .vacancyCard_item p{
    color: rgb(101, 100, 100);
    /* background-color: aqua; */
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 550;
    transition: .5s;
    font-size: 20px;
}

.admin .vacancyCard_item a:hover {
    box-shadow: inset -140px 0 rgb(60,174,163), 0 0 5px rgb(60,174,163);
    color: #fff;
}

.admin .vacancyCard_item .trash {
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.3s;
    font-size: 25px;

}

.admin .vacancyCard_item .trash:hover {
    background-color: white;
    /* box-shadow: inset -35px 0 red, 0 0 5px white; */
    fill: red;
    padding: 5px;
    transition: .5s;
    border-radius: 3px;
    font-size: 35px;
    margin-left: 30px;
}

.admin .vacancyCard_item .trash:nth-child(2):hover {
    background-color: red;
    
}

.admin .vacancyCard_item .edit {
    right: 50px;
}